* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
nav {
  background-color: #1e1f1e;
  color: white;
}
.navUp {
  width: 100%;
  background-color: #a850ab;
  padding: 5px 20px;
  font-weight: bold;
  font-size: 17px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navDown {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 20px;
  font-weight: bold;
}
.brand {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}
.menu ul li {
  margin: 0 10px;
}
.menu ul li:hover {
  color: aqua;
  cursor: pointer;
}
.icons {
  margin: 0 10px;
}
.icons i {
  margin: 0 20px;
  font-size: 18px;
  cursor: pointer;
}
.icons i:hover {
  color: lightblue;
}
.hamMenu {
  font-size: 30px;
  cursor: pointer;
  padding: 0 10px;
}
.hamMenu:hover {
  color: aqua;
}
.sideMenu {
  background-color: rgb(20, 19, 19);
  width: 40%;
  height: 80vh;
  border-radius: 10px;
  position: absolute;
  left: -1000px;
  transition: left 0.3s ease-in-out;
}
.sideMenu .listSideMenu ul {
  list-style-type: none;
  padding: 10px;
}
.sideMenu .listSideMenu ul li {
  margin-bottom: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  border-bottom: 2px solid aqua;
}
.socialMedia a {
  text-decoration: none;
  color: white;
  margin: 0 4px;
}
.socialMedia a:hover {
  color: aqua;
}
.carousel-item img {
  height: 550px;
  width: 100%;
}
.slidePhotoes {
  display: flex;
  align-items: center;
  background-color: #343734;
  text-align: center;
}
.slidePhotoes .divleft {
  width: 50%;
  opacity: 0.5;
}
.slidePhotoes .divRight {
  font-size: 25px;
  text-align: center;
  margin: auto;
  color: white;
}
/* media for nav */
@media screen and (max-width: 768px) {
  #phoneNumber {
    margin: auto;
  }
}
/* products */
.seeAll {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.seeAll:hover {
  color: aqua;
  cursor: pointer;
}
.productsSlider {
  background-color: #343734;
}
/* card slider */
.slider {
  direction: ltr;
}
.box {
  width: 300px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
  overflow: hidden;
  margin: 10px;
  direction: rtl;
}

.image {
  padding: 5px; /* Added padding for image separation */
}

.image img {
  width: 100%;
  height: 250px;
  border-radius: 10px 0 10px 10px;
}
.content {
  color: white;
  font-weight: bold;
  padding: 10px 0px;
  font-size: 20px;
}
.namePrdouct {
  text-align: start;
  padding: 0 10px;
}
.content p {
  margin-right: auto;
}
.buy {
  display: flex;
  align-items: center;
  justify-content: end;
  color: rgb(250, 250, 250);
  font-weight: bold;
  padding: 0 10px;
}

.buy span {
  color: grey;
  font-size: 10px;
}

.price {
  margin: 10px 8px;
}
.addTo {
  width: 100%;
  padding: 5px 8px;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.addTo:hover {
  color: black;
  background-color: rgb(215, 16, 16);
}

.addTo a {
  color: black;
  font-weight: bold;
}
/* Optional: Media query for smaller screens */
@media (max-width: 768px) {
  .box {
    width: 250px; /* Adjust width for smaller screens */
  }
}
