@import url("https://fonts.cdnfonts.com/css/lalezar");
@import url("https://v1.fontapi.ir/css/Vazir");
header {
  font-family: Vazir, sans-serif;
  font-size: 20px;
}
i {
  font-family: none;
}
p {
  text-align: justify;
}
body{
  overflow-x: hidden;
}
.headerPic {
  width: 100%;
}
.lalezar {
  font-family: Lalezar, sans-serif;
}
.vazir {
  font-family: Vazir, sans-serif;
}
.textHeight {
  line-height: 30px;
}
.comBackImage {
  background: linear-gradient(rgba(0, 0, 0, 0.642), rgba(0, 0, 0, 0.615)),
    url("./assets/imgae/pic1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 400px;
  font-family: Vazir, sans-serif;
}
.card {
  -webkit-box-shadow: 10px 3px 36px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 3px 36px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 3px 36px 0px rgba(0, 0, 0, 0.75);
}
.myparent {
  overflow: hidden;
}
.myproduct {
  position: relative;
}
.rightButton i {
  font-size: 40px;
  padding: 5px 8px;
  color: orange;
  position: absolute;
  bottom: 45%;
  left: 0;
  
}
